.impress-step {
  font-size: 30px;
  transition: opacity 1s;
  position: absolute;
  transform-origin: center center 0px;
  transform-style: preserve-3d;
  will-change: opactiy;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}
