.impress-viewport {
  transition-property: transform, perspective;
  will-change: transform, perspective;
}
.impress-canvas {
  will-change: transform;
  transition-property: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

.impress-viewport, .impress-canvas {
  height: 100%;
  width: 100%;
  transform-origin: center center 0px;
  transform-style: preserve-3d;
  position: absolute;
}
